# Python / Backend
/backend/venv/
/backend/__pycache__/
/backend/models/
household_power_consumption.csv
*.pyc

# Node / Frontend
/frontend/node_modules/
/frontend/build/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# # Jupyter Notebook
# .ipynb_checkpoints/